@charset "UTF-8";

 @font-face {
    font-family: 'Oswald';
    src: url('Oswald.ttf') format('truetype');
} 

canvas {
	position: absolute;
	top: 3.5em;
	z-index: 1;
}

.block {
	display: block;
}

.header__tag {
	display: flex;
	align-items: center;
}

.hero__wrap {
	height: 70vh;
}

.grid-img__wrap {
	border: 2px solid transparent;
	overflow: hidden;
	z-index: 100;
} 

.grid-img__wrap:first-child,
.grid-img__wrap:nth-child(2),
.grid-img__wrap:nth-child(3) {
	max-height: 21em;
}

.grid-img__wrap:nth-child(4),
.grid-img__wrap:nth-child(5) {
	max-height: 19.75em;
}	

.grid-img__wrap:nth-child(6),
.grid-img__wrap:nth-child(7) {
	max-height: 24.5em;
}

.grid-img__text {
	position: absolute;
	right: 16px;
	bottom: 20px;
	left: 16px;
	z-index: 5;
}

.grid-img__wrap h2 {
	color: #fff;
	font-size: 1.25em;
	margin-bottom: 10px;
}	

.grid-img__wrap img {
	display: block;
}

#mainPage {
	padding-top: 3.5em;
}

.navbar {
	background-color: #fff;
}

.overlay__wrap {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: 0;
	transition: .3s;
	z-index: 2;
	&:hover {
		opacity: 1;
	}
}

.overlay {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: red;
	opacity: .5;
	
	z-index: 2;
	
}

.overlay__wrap p {
	// bottom: 20px;
	// left: 16px;
	// right: 16px;
	color: #fff;
	// position: absolute;
	// z-index: 5;
}

.p-0-\@smPlus {
	padding: 0;
}




