@charset "UTF-8";

 @font-face {
    font-family: 'Oswald';
    src: url('Oswald.ttf') format('truetype');
} 

.block {
	display: block;
}

.header__tag {
	display: flex;
	align-items: center;
}

.hero__wrap {
	height: 70vh;
}

.img-grid__wrap {
	border: 2px solid #fff;
} 

.img-grid__wrap img {
	display: block;
}

.overlay__wrap {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: 0;
	transition: .3s;
	z-index: 2;
	&:hover {
		opacity: 1;
	}
}

.overlay {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: red;
	opacity: .5;
	
	z-index: 2;
	
}

.overlay__wrap p {
	color: #fff;
	position: absolute;
	z-index: 5;
}

.p-0-\@smPlus {
	padding: 0;
}




